build/
books/*/build/
books/*/results/*
!books/*/results/.gitkeep
!books/*/results/lab00/
books/*/results/lab00/*
!books/*/results/lab00/.gitkeep
books/*/labs/**/results/*
!books/*/labs/**/results/.gitkeep
__pycache__/
results/
*.aux
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.toc
*.xdv
*.synctex.gz
*.csv
*.log
*.out
.idea
